*{
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: transparent;
    overflow: hidden;
    border-radius: 15px 15px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: lightslategray;
    color: black;
    border-radius: 15px 15px;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: white;
    color: black;
    border-radius: 15px 15px;
  }

/*Body*/
  body {
    background-color: #43adc0;
    align-content: center;
    background-image: linear-gradient();
    
}

/*Image Gallery*/
.images{
  overflow: hidden;
  text-align: center;
}

.images img{
  width: 10%;
  height: 100px;
  margin: 15px;
  cursor: pointer;
  transition: .2s;
}

.images img:hover {
  opacity: .8;
  border-radius: 15px 15px;
}

.pre{
  width: 775px;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
}

.pre img {
  width: 100%;
  height: 100%;
}

.pre a {
  color: #000;
  font-size: 20px;
  position: absolute;
  padding: 0 0 10px;
  cursor: pointer;
}

main {
  float: none;
  height: auto;
  width: auto;
  padding: 0 50px;
  background-color: #fff;
}

.column1, .column2 {
  float: left;
  height: auto;
  width: 500px;
  padding: 0 50px;
  border-radius: 15px 15px 15px 15px;
  background-color: #fff;
}

p {
  align-content: center;
}

h1, h3 {
  color: #000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
